body{
    text-align: center;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn{
    height:200px;
    width:200px;
    border:10px solid black;
    border-radius:20%;
    margin:2.3rem;
}


.red{
    background-color:#d95980;
}
.yellow{
    background-color: #faab45;;
}
.green{
    background-color:#0bb5e9;
}
.purple{
    background-color:#3151dfb3;
}

.btnflash{
    background-color: bisque;
}
.userflash{
    background-color: green;
}